---
title: Purpose Art
---

%h1 
  Purpose Handmade

%p.lead
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.

.photo-grid.col-2
  = image_tag 'ball-jar.jpg', class: 'img-responsive'
  = image_tag 'books.jpg', class: 'img-responsive'
  = image_tag 'boxes.jpg', class: 'img-responsive'
  = image_tag 'wallet-coffee.jpg', class: 'img-responsive'
  = image_tag 'hanging-planters.jpg', class: 'img-responsive'
  = image_tag 'planters.jpg', class: 'img-responsive'
  
