---
title: Life Style
---

%h1= data.lifestyle.title
%p.lead= data.lifestyle.lead

.photo-grid.col-2.product-grid
  - data.products.lifestyle.each do |product|
    .item.product
      = image_tag product[:image], class: 'img-responsive gallery'  

      %h4= product[:title]
      %p= product[:description]


