---
title: Leather Workshops
---

%h1 Workshops
%p.lead
  Leather work classes offered by Purpose. All classes are held at the Purpose studio located in
  %a{href: "https://www.google.com/maps/place/8012-8018+SE+13th+Ave,+Portland,+OR+97202/@45.4654353,-122.6545827,17z/data=!4m5!3m4!1s0x54950adb15efb42b:0x84ab3c28eea3f573!8m2!3d45.4654278!4d-122.6524638", target: "_blank"} Milieu
  %em (the old Homestead Supply Store)
  8012 13th Ave Portland, OR

.row
  - data.classes.select{ |item| item.active }.sort{|x,y| x.bookings.first.date.start <=> y.bookings.first.date.start}.each_slice(2) do |slice|
    .row
      - slice.each do |offer|
        .col-md-6.col-xs-12.work-shop
          - offer.images.each do |image|
            = image_tag(image, class: "gallery img-responsive")

          %h4
            = offer.title
            - if offer.price
              %strong= "$#{offer.price}"
          %p= offer.description

          - offer.bookings.each do |booking|

            .row.center-xs
              %strong
                .col-xs-8
                  = DateTime.parse(booking.date.start).strftime("%b %e, %l:%M")
                  = ' - '
                  = DateTime.parse(booking.date.end).strftime("%l:%M")
                .col-xs-4
                  - if booking.id
                    = partial(:"partials/_paypal-btn", :locals => {:id => booking.id})




%hr

.row
  .col-xs-12
    Inquire about private group workshops. If you have any questions or need any additional info, please email.

    %a{href: 'mailto:angemorrow@gmail.com'}
      angemorrow@gmail.com
