---
title: Leather Workshops
---

%h1 Workshops
%p.lead
  Leather work classes offered by Purpose. All classes are held at the Purpose studio located in
  %a{href: "https://www.google.com/maps/place/8012-8018+SE+13th+Ave,+Portland,+OR+97202/@45.4654353,-122.6545827,17z/data=!4m5!3m4!1s0x54950adb15efb42b:0x84ab3c28eea3f573!8m2!3d45.4654278!4d-122.6524638", target: "_blank"} Milieu
  %em (the old Homestead Supply Store)
  8012 13th Ave Portland, OR

.row
  .col-md-6.col-xs-12.work-shop
    = image_tag("wood-carving.jpg", class: "gallery img-responsive")
    = image_tag("wood-blocks.jpg", class: "gallery img-responsive")
    %h4 Woodblock Carving
    %p
      %strong April 12, 6:30 - 8:30pm
    %p
      In this hands on workshop by Purpose, you will learn how to carve a woodblock, deboss leather in a book press, and turn your creation into a piece of wall art. First, you will learn how to carve your own woodblock design. At a later date, to be determined in class, you will learn how to dye your leather. Then, you will attach it to wood with copper nails to make a piece of art.

    = partial(:"partials/_paypal-btn", :locals => {:id => "M6N8UHBHLVWJS", :price => 60})

  .col-md-6.col-xs-12.work-shop
    = image_tag("ball-jar-class.jpg", class: "gallery img-responsive")
    %h4 Leather Ball Jar Wrap
    %p
      %strong April 14, 3:30 - 5:30pm
    %p In this hands on workshop by Purpose, you will learn to make a leather Ball Jar wrap. With your precut leather pieces, you will learn to edge dye, wax, burnish edges, chisel, and hand stitch.

    = partial(:"partials/_paypal-btn", :locals => {:id => "GM7Z83UV6GTSY", :price => 30})

.row
  .col-md-6.col-xs-12.work-shop
    = image_tag("bracelet-braided.jpg", class: "gallery img-responsive")
    %h4 Bracelet Class
    %p
      %strong April 28, 3:30-5:30
    %p
      In this hands on workshop by Purpose, you will learn to make two different bracelets to be worn together or give one as a gift.
      First, you will learn how to make a magic braid using latigo leather. For the second bracelet, you will be given pre-dyed vegetable tanned leather for you to personalize with metal stamps. Finally, you will be taught how to set your own snaps.

    = partial(:"partials/_paypal-btn", :locals => {:id => "2M6CRMP3ZYG56", :price => 40})

  .col-md-6.col-xs-12.work-shop
    = image_tag("leash.jpg", class: "gallery img-responsive")
    = image_tag("dog-braided.jpg", class: "gallery img-responsive")

    %h4 Dog Leash
    %p
      %strong April 21, 10:15am - 12:15pm
    %p Create a leash for your favorite canine. Using latigo leather and brass hardware. You can personalize your leash with letter stamps during the class.

    = partial(:"partials/_paypal-btn", :locals => {:id => "UQATJEZ8MN2K6", :price => 42})


%hr

.row
  .col-xs-12
    If you have any questions or need any additional info, please email
    %a{href: 'mailto:angemorrow@gmail.com'}
      angemorrow@gmail.com
